.post-list {
    margin-top: 10px;
}

.post { 
    background-color: #d5d5d5; 
    margin: 0 auto; 
    width: 60%; 
    padding: 20px; 
    margin-bottom: 50px;
    border-radius: 20px; 
    position: relative; 
}

.post-title {
    font-size: 32px; 
    margin-bottom: 40px; 
}

.post-author {
    font-style: italic;
    margin-bottom: 40px; 
    font-size: 22px;
}



.comment { 
    background-color: #d5d5d5; 
    padding: 20px; 
    border-radius: 20px; 
    position: relative; 
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
}

.comment-author {
    font-style: italic;
    margin-bottom: 40px; 
}

.comment-content {
    font-size: 16px; 
    color: #333; 
}

button {
    background: transparent;
    color: transparent;
    border-radius: 20px;
    height:50px;
    width:50px;
    z-index: 1;
}

button:hover {
    cursor: pointer;
}

.fa-thumbs-up {
    margin-top: 22px;
    margin-left: 8px;
}


.post-content {
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 25px;
}

.top-title {
    margin-top: 5%;
    margin-left: 20%;
    font-size: 3.5rem;
}

.plus, .cross {
    position: absolute;
}

.circle {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 55%;
    top: -120px

}

.circle2 {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 55%;
    top: -60px;

}

.link {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 25px;
}

.link:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

.post-comment-button:hover, .post-icon-button:hover {
    background-color: rgba(88, 88, 88, 0.2);
}

.post-label {
    font-size: 35px;
}

.form {
    margin-left: 15%;
}

.post-input {
    width: 50%;
    height: 30px
}

.makePost {
    background: grey;
}

textarea {
    resize: none;
    height: 100px;
}

.titleMakePost {
    margin-top: 80px;
    margin-left: 15%;
    font-size: 3.5rem;
}

input[type="submit"] {
    height:40px;
    width: 80px;
}

.post-date {
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 80%;
}

.fa-thumbs-up-post {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
    right: 48%;
    top: 50px;
    
}

.fa-comment {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: auto 0 ;
}

.post-comment-button, #post-icon-button-1 {
    position: absolute;
}

.post-likes {
    position: absolute;
    bottom: -12px;
    left: 8%;
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
}

#container-post {
    
    background-color: darkgray;
    width: 100;
    height: 500px;
    margin: 0 auto;
}

.fa-thumbs-up-post2 {
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top:10px;
    left:1%;
    top: 40%;
}

#post-icon-button-2 {
    position: absolute;
}

.fa-thumbs-up-comment {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#post-icon-button-comment {
    position: absolute;
}

#title-post {
    padding-top: 30px; 
    padding-left: 30px;
    font-size: 35px;
}

#author-post {
    padding-left: 20px;
    font-size: 22px;
    font-style: italic;
}

#content-post {
    width: 80%;
    padding-left: 25px;
    padding-top: 15px;
    font-size: 24px;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

#date-post {
    padding-left: 15px;
    font-size: 25px;
}

#likes-post {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 5.2%;
}
